{% extends 'base/base.html' %}
{% load static %}
{% load filters %}

{% block load %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <form class="form-box" method="post" autocomplete="off">
        {% csrf_token %}
        <a id="form-name">{{ title }}</a>
        <div class="form-fields">
            {% for field in form %}
                <label class="form-label" id="label-{{ field.id_for_label }}">
                    <a class="label-content">{{ field.label }}</a>
                    {{ field.as_widget }}
                </label>
            {% endfor %}
        </div>
        {% if messages|length > 0 or form.errors|length %}
            <div class="error-messages">
                {% for errors in form.errors.values %}
                    {% for error in errors %}
                        <a class="error-message">{{ error }}</a>
                    {% endfor %}
                {% endfor %}
                {% for message in messages %}
                    <a class="error-message">{{ message }}</a>
                {% endfor %}
            </div>
        {% endif %} 
        <button type="submit" id="submit">Submit</button>
    </form>
{% endblock %}
