.left-bar {
    padding: 60px 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 0 var(--accent-color);
    justify-self: flex-start;
    width: -webkit-fill-available;
}

.group {
    gap: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.login {
    display: flex;
    flex-direction: row;
}
